/* main { box-shadow: -1px 1px 10px 3px red inset; }
header { box-shadow: -1px 1px 10px 3px rgb(255, 0, 234) inset; }
nav { box-shadow: -1px 1px 10px 3px blue inset; }
section { box-shadow: -1px 1px 10px 3px rgb(0, 225, 255) inset; }
footer { box-shadow: -1px 1px 10px 3px green inset; } */

/*Général*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 844px;
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

section {
    flex: auto;
    margin-top: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/*Centrer les titres*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Titre*/
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBEF1E;
}

/*Boutons de menus en haut à droite*/
.fa-solid {
    margin: 0 10px;
    font-size: 40px;
    color: #888C92;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    cursor: pointer;
}

/*Police d'écriture*/
.press-start-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 96px;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
    cursor: pointer;
}

.press-copyright-text,
.fa-copyright {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: white;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}

/* Audio */
audio {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
}

/* Style des contrôles du lecteur */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-start-playback-button {
    display: none !important;
}

audio::-webkit-media-controls-panel {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
}