* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.size{
    position: relative;
    width: 1440px;
    height: 844px;
}

video {
  
    width: 1440px;
    height: 844px;
}