/* main { box-shadow: -1px 1px 10px 3px red inset; }
header { box-shadow: -1px 1px 10px 3px rgb(255, 0, 234) inset; }
nav { box-shadow: -1px 1px 10px 3px blue inset; }
section { box-shadow: -1px 1px 10px 3px rgb(0, 225, 255) inset; }
p { box-shadow: -1px 1px 10px 3px green inset; } */

/*Général*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 844px;
    position: relative;
    border-radius: 5px;
    background-color: #000000c7;
}

section {
    flex: auto;
    margin-top: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 64px;
    color: #ff0000;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
    cursor: pointer;
}

/*Règles*/
p {
    margin: 25px 25px;
}

.container{
    overflow-y: auto;
}

/* Sélecteur pour la partie de la barre de défilement */
.container::-webkit-scrollbar {
    width: 10px;
    /* Largeur de la barre de défilement */
}

/* Style de la poignée (thumb) de la barre de défilement */
.container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Couleur de la poignée */
    border-radius: 5px;
    /* Arrondi de la poignée */
}

/* Style du track (fond) de la barre de défilement */
.container::-webkit-scrollbar-track {
    background-color: #f1f1f100;
    border-radius: 5px;
    /* Couleur du track */
}

/*Background Start*/
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBEF1E ;
}

/*Police d'écriture*/
.bungee-text-32 {
    font-family: 'Bungee', cursive;
    font-size: 32px;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
    color: white;
}

.bungee-text-15 {
    font-family: 'Bungee', cursive;
    font-size: 15px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: white;
}

.red-text {
    color: #FF0000;
}

.blue-text {
    color: #0085FF;
}

.yellow-text {
    color: #EBEF1E;
}