/* main { box-shadow: -1px 1px 10px 3px red inset; }
header { box-shadow: -1px 1px 10px 3px rgb(255, 0, 234) inset; }
nav { box-shadow: -1px 1px 10px 3px blue inset; }
section { box-shadow: -1px 1px 10px 3px rgb(238, 255, 0) inset; }
footer { box-shadow: -1px 1px 10px 3px green inset; } */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 1440px;
    height: 844px;
    background-image: url(../../Imgs/lobby/pokecenter02.png);
    background-position: center center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
}

.choix_equipe-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #EBEF1E;
    -webkit-text-stroke: #000000 0.1rem;

    text-align: center;
    padding-top: 5%;
}

.back_arrow img {
    margin: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.press-copyright-text,
.fa-copyright {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: white;
    -webkit-text-stroke: #000000 1px;
}