/* main { box-shadow: -1px 1px 10px 3px red inset; }
header { box-shadow: -1px 1px 10px 3px rgb(255, 0, 234) inset; }
nav { box-shadow: -1px 1px 10px 3px blue inset; }
section { box-shadow: -1px 1px 10px 3px rgb(238, 255, 0) inset; }
footer { box-shadow: -1px 1px 10px 3px green inset; } */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 1440px;
    height: 844px;
    background-image: url(../../Imgs/lobby/pokecenter02.png);
    background-position: center center;
    background-size: cover;

    border-radius: 5px;
}



nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/* btn volume */
.fa-solid {
    width: 40px;
    height: 32px;
    margin: 0 10px;
    font-size: 32px;
    color: #888C92;
    -webkit-text-stroke: #000000 1px;
}

.popup-container {
    position: absolute;
    right: 15%;
    opacity: 0%;
    transition: 1.6s;
    background: linear-gradient(#48B19E, #FFFFFF);
    border: solid black 1px;
    border-radius: 15px;
    width: 15%;
    height: 6%;
    font-family: handjet;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.3%;
    padding-bottom: 1.5%;
    cursor: default;
}

.popup-close {
    display: flex;
    margin-right: 2%;
    text-align: right;
    justify-content: end;
    cursor: default;
    color: #000000;
    cursor: pointer;
}

.choix_equipe-h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #EBEF1E;
    -webkit-text-stroke: #000000 0.1rem;


    padding-top: 5%;
}

.back_arrow img {
    margin: 10%;
}


/* CONTAINERS */
/* Main container */
.container {
    display: flex;
    /* box-shadow: -1px 1px 10px 3px rgb(238, 255, 0) inset; */
    width: 1400px;
    height: 550px;
    margin: auto;
    margin-top: 20px;

    justify-content: space-between;
}

/* Left container */
.container_left {
    /* box-shadow: -1px 1px 10px 3px rgb(255, 140, 0) inset; */
    width: 33%;
    height: 100%;

    background-color: rgba(234, 235, 236, 0.7);
    border: solid #000000 1px;
    border-radius: 25px;

}

.red_img {
    display: flex;
    margin: auto;

    width: 30%;
}

.container .dragdrop_red hr {
    display: flex;
    margin: auto;

    width: 425px;
    margin: 2%;
    border: solid #E70E0E 2px;
}

.container .container_left .dragdrop_red {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-shadow: -1px 1px 10px 3px rgb(203, 57, 17) inset;
    width: 90%;
    height: 65%;

    margin: auto;
}

/* Middle container */
.container_middle {
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    column-gap: 30px;

    overflow-y: auto;
}

/* Sélecteur pour la partie de la barre de défilement */
.container_middle::-webkit-scrollbar {
    width: 10px;
    /* Largeur de la barre de défilement */
}

/* Style de la poignée (thumb) de la barre de défilement */
.container_middle::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Couleur de la poignée */
    border-radius: 5px;
    /* Arrondi de la poignée */
}

/* Style du track (fond) de la barre de défilement */
.container_middle::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
    /* Couleur du track */
}


.card {
    /* box-shadow: -1px 1px 10px 3px rgb(105, 253, 0) inset; */
    width: 110px;
    height: 150px;

    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;

}

.card img {
    width: 80px;
    margin: auto;
    height: 85px;

}

.card p {
    font-family: 'handjet', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}

/* Right container */
.container_right {
    /* box-shadow: -1px 1px 10px 3px rgb(0, 253, 228) inset; */
    width: 33%;
    height: 100%;

    background-color: rgba(234, 235, 236, 0.7);
    border: solid #000000 1px;
    border-radius: 25px;
}

.flora_img {
    display: flex;
    margin: auto;

    width: 20%;
}

.container .container_right hr {
    display: flex;
    margin: auto;

    width: 425px;
    margin: 2%;
    border: solid #0085FF 2px;
}

.container .container_right .dragdrop_flora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-shadow: -1px 1px 10px 3px rgb(21, 0, 253) inset;
    width: 90%;
    height: 63%;

    margin: auto;
}

/* btn combat */
#combat_btn {
    display: flex;

    width: 300px;
    height: 80px;
    margin: auto;
    margin-top: 20px;

    font-size: 2.5rem;
    font-family: 'handjet', cursive;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #918989;
    border-radius: 25px;

}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

/* copyright */
.press-copyright-text,
.fa-copyright {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: white;
    -webkit-text-stroke: #000000 1px;
}