* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.choix_equipe-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #EBEF1E;
    -webkit-text-stroke: #000000 0.1rem;

    text-align: center;
    padding-top: 8%;
}

.back_arrow img {
    margin: 10%;
}




.footer {
    color: white;
}